<% layout("layouts/boilerplate")%>


<div class="row">
    <h1 class="text-center">Edit Animal</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/animals/<%=animal._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name="animal[title]" class="form-control" value="<%=animal.title%>" required />
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-select"  id="status" name="animal[status]">
              <option value="not-defined" <%= animal.status === 'not-defined' ? 'selected' : '' %> >Выбери охранный статус животного</option>
              <option value="extinct"  <%= animal.status === 'extinct' ? 'selected' : '' %> %>>Исчезнувшие в дикой природе</option>
              <option value="endangered"  <%= animal.status === 'endangered' ? 'selected' : '' %> %>>Вымирающие виды</option>
              <option value="vulnerable"  <%= animal.status === 'vulnerable' ? 'selected' : '' %> %>>Уязвимые виды</option>
              <option value="dependant"<%= animal.status === 'dependant' ? 'selected' : '' %> %>>Зависимы от усилий по сохранению</option>
              <option value="least-concern" <%= animal.status === 'least-concern' ? 'selected' : '' %> %>>Вызывающие наименьшие опасения</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="areal" class="form-label">Где обитает: </label>
          <input type="text" id="areal" name="animal[areal]" class="form-control" value="<%=animal.areal%>" required/>
        </div>
        <div class="mb-3">
          <label for="map" class="form-label">Карта из Википедии: </label>
         <% if(animal.map && animal.map !== "https://www.google.com") { %>
          <img src="<%=animal.map%>" alt="" class="one-image areal" />
        <% } else { %>
          <input type="url" id="map" name="animal[map]" class="form-control" value="<%=animal.map%>" required/>
        <% } %>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Где встречается чаще всего(значок на карту): </label>
          <input type="text" id="location" name="animal[location]" class="form-control" value="<%=animal.location%>" required/>
        </div>
      

        <label class="form-label mb-3" for="image">Добавь еще фото:</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="image" name="image" multiple>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" id="description" name="animal[description]" class="form-control" required ><%=animal.description%></textarea> 
        </div>
        <div class="mb-3">
          <label for="source" class="form-label" >Источник информации</label>
          <input type="text" id="source" name="animal[source]" class="form-control" value="<%=animal.source%>" required />
        </div>
        <div class="mb-3">
          <% animal.images.forEach(function(img, i) { %>
            <div class="mb-3 d-inline-block">
            <img src="<%=img.foredit%>" >
            <div class="form-check-inline">
            <input  type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">         
            <label class="form-check-label" for="image-<%=i%>">
              Удалить?
              </div>
              <% if (!img.vertical) { %>
              <div class="form-check-inline">
                <input  type="checkbox" id="v-image-<%=i%>" name="verticalImages[]" value="<%=img.url%>">         
                <label class="form-check-label" for="v-image-<%=i%>">
                  Вертикально?
                  </div>
              <% } %>
            </div>
          <% }) %>
        </div>
          
      
              
        <button class="btn btn-success ">Publish</button>
      </div>
      </form>
      <div class="card-body mb-3 col-md-6 offset-md-3">
      <a href="/animals/<%=animal._id%>" class="card-link btn btn-secondary" type="button">Cancel</a>
      <form
      class="d-inline"
      action="/animals/<%=animal._id%>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
   
    </div>
  </div>

 